*{
  margin: 0%;
  padding: 0%;
}

.nav{
  background-color: honeydew;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navegador{
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  height: 10vh;
  flex: 4;
}

.logo{
  flex: 1;
}

.carrito{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
}

.navegador a{
list-style-type: none;
text-decoration: none;
color: black;
transition: .1s;
text-transform: uppercase;
padding-left: 8%;
padding-right: 8%;
}
  .navegador a:hover{
    transform: scale(1.1);
  }

.catalogo{
  margin: 4%;
}

.counter{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5%;
  border: 1px solid black;
  width: 10em;
  height: 5em;
}
  .counter button{
    margin: 1%;
    }