@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  margin: 0%;
  padding: 0%;
}

h1{
  margin: 1em;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 1.5px;
}

body{
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  font-size: large;
  background-color: #fce873;
}

.nav{
  background-color: #fcc522;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  font-weight: 400;
}

.navegador{
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  height: 10vh;
  flex: 4;
  font-family: 'Fredoka One', cursive;
}

.logo{
  flex: 1;
}

.carrito{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
}

.navegador a{
list-style-type: none;
text-decoration: none;
color: black;
transition: .1s;
text-transform: uppercase;
padding-left: 8%;
padding-right: 8%;
font-size: large;
letter-spacing: 1.5px;
}
  .navegador a:hover{
    transform: scale(1.1);
  }

.honeyDrop{
  margin-top: -.2rem;
}

.honeyUp{
  transform: rotate(180deg);
  margin-bottom: -1rem;
}

.counter{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5%;
}

.boton{
  background:#fce873;
  color:#000;
  font-family: 'Bebas Neue', cursive;
  border:none;
  position:relative;
  height:50px;
  width: 170px;
  font-size:1.2em;
  letter-spacing: 2px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  text-transform: uppercase;
}
.boton:hover{
  background:#fcc522;
}
.boton:before,.boton:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #000;
  transition:400ms ease all;
}
.boton:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.boton:hover:before,.boton:hover:after{
  width:100%;
  transition:400ms ease all;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 5rem;
  text-transform: uppercase;
}
  .container .card{
    width: 260px;
    height: 475px;
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    transition: all .25s;
    margin: 1.5rem;
    background-color: #fcc522;
  }
  .container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, .2);
  }

.container .card img{
  width: 200px;
  height: 340px;
  margin-bottom: 1rem;
  padding-top: .5rem;
}

.container .card h4{
  font-weight: 550;
  margin-bottom: 1rem;
}

.container .card p{
  padding: 0 1rem;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: .5rem;
}

  .container .card p a{
    text-decoration: none;
    color: #000;
    margin-left: 50px;
  }


.itemDetail{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
  .itemDetailImg{
    width: 20%;
    padding: 2rem;
    background-color: #fcc522;
    margin: 2em;
    border-radius: 15%;
  }

.galery{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
  .galery img{
    width: 25%;
    margin: 1em;
    padding: 1em;
    background-color: #fcc522;
    transition: .2s;
  } 
    .galery img:hover{
      transform: scale(1.1);
    }
